.header{
    /* background-color: green; */
    padding: 2rem;
    font-size: 4rem;
    font-weight: bolder;
}


.product-boxmodel{
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: bold;
    /* padding: 2rem 0 ; */

}
