nav{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    width: 20rem;
    font-size: 6rem;
    height: 100vh;
    
}
nav a{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    margin: 1.5rem 0 ;
    text-decoration: none;
    border-radius: 1rem;
    justify-content: start;




}

/* nav a:active{
     background-color: #39B5FF ;
    stroke: white; 
} */

.active{
    background-color: #39B5FF;
}